   <div class="main-body">
    <div class="login-form-div ms-auto me-auto" >
    <form action="/login" class="login-form"  id="form" method="POST">
   {{#if loginError}}
<div class="invalid">
  <p class="text-danger">
   {{loginError}}</p>
</div>
{{/if}}

   {{#if loginBlocked}}
<div class="invalid">
  <p class="text-danger">
   {{loginBlocked}}</p>
</div>
{{/if}}


        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
          <input placeholder="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        
          <input placeholder="Password" type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        {{!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> --}}
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<p class="mt-4" style="display: inline-block;">Don't have an account?</p>   <a class="" style="text-decoration: none;" href="/usersignup">Sign up</a><br>
    </div>
</div>